.pictureBox {
    margin: 0 auto;
    max-width: 460px;
    max-height: 460px;
    justify-content: center;
    display: flex;
    font-family: 'Roboto';

}

.carousel-inner {
    border-radius: 20px;
    font-family: 'Roboto';
    max-width: 460px;
    max-height: 460px;
}
.carousel-item {
    transition-duration: 1s;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}
.carousel-indicators {
    filter: invert(30%);

}

.carousel-caption {
    font-family: 'Roboto';
    text-shadow: 1px 1px 1px white;
    color: black;
}

.card {
    width: 15rem;
    font-family: 'Roboto';

}