.loginPageForm {
    /* height: 100vh; */
    font-family: 'Montserrat Alternates';
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginPageTitle {
    margin: 0;
}

.buttonChanger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0 auto;
}