.cardContainer {
    display: flex;
    justify-content: center;
}

.cardCardContainer {
    width: 80% !important;
    border-radius: 30px;

}

.twosides {
    display: flex;
}

.noSignIn {
    display: flex;
    justify-content: center;
}
.noSignIn div {
    display: flex;
    justify-content: center;
}