.petBoxContainer {
    display: flex;
    margin: 48px;
    justify-content: center;
    font-family: 'Montserrat Alternates';
}

.petBox {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
}
.petBox-card .card-body {
    border-radius: 20px;
    color: black;
    transition: .5s;
}
.petBox-card .card-body:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,.5);
}

.petBox .card {
    border-radius: 20px;
    box-shadow: 4px 4px 10px 8px rgba(0,0,0,.4);
}

.card-img-top {
    border-radius: 10px;
    height: 162px;
    width: 200px;
    margin: 5px;
}
.petBox-card span {
    font-weight: bold;
    font-size: 1.5em;
}

.petBox-Text {
    text-align: left;
}
.noPets {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    font-size: 2em;
}

@media (max-width: 1200px) {
    .petBox {
        display: flex;
        flex-direction: column;
    }
    /* .card-body {
        display: flex;
    } */

}