.petBoxContainer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Alternates';
}

.petBox {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
}

.petBox .card {
    border-radius: 20px;
    box-shadow: 4px 4px 10px 2px black;
}

.card-img-top {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px black;
    margin: 5px;
}
.petBox-card span {
    font-weight: bold;
    font-size: 1.5em;
}

.petBox-Text {
    text-align: left;
}