.About {
    font-family: 'Montserrat Alternates';
    height: 100vh;
    margin-bottom: 50px;
}

.About-DeveloperBox {
    display: flex;
    justify-content: center;
}


.About-MeetTheTeam h4 {
    margin: 40px;
    font-size: 2.5em;
}

.About-Image img {
    box-shadow: 0 0 10px 3px black;
    background-size: cover;
    width: 250px;
    height: 220px;
    border-radius: 50%;
    margin: 0 20px;
}

.About-ImageDescription {
    margin: 20px;
    font-size: 1.5em;
}
.About-TeamInfo {
    margin: 3rem 0;
    font-size: 1.3em;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .About-DeveloperBox {
        display: flex;
        flex-direction: column;
    }
}