.firstItem {
    margin: 3em 0 5em 0;
    padding: 1.5em;
    background: white;
}
.firstItem-twoBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0 10%;
}

.firstItem-leftBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
}

.firstItem-button {
    margin: 10px 0;
}

.firstItem-leftBox h3 {
    margin: 0;
    font-size: 2.5em;
    text-align: left;
    font-family: 'Montserrat Alternates';
}
.firstItem-leftBox hr {
    width: 70%;
}

.firstItem-leftBox p {
    line-height: 1.6;
    font-size: 1.2em;
    font-family: 'Montserrat Alternates';
    text-align: left;
}

.firstItem-rightBox img {
    margin: 30px;
    border-radius: 20px;
    transform: scale(.9);
}

.pictureBox {
    margin: 0 auto;
    max-height: 460px;
    justify-content: center;
    display: flex;
    position: relative;
    font-family: 'Roboto';
}

.pictureBox:after {
    content: '';
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    top: 20px;
    right: 100px;
    bottom: 100px;
    left: 20px;
    position: absolute;
    z-index: -1;
}

.bd-example {
    justify-content: center;
    align-items: center;
}

/* .carousel-inner {
    border-radius: 20px;
    font-family: 'Roboto';
    max-width: 460px;
    max-height: 460px;
}
.carousel-item {
    transition-duration: 1s;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}
.carousel-indicators {
    filter: invert(30%);

}

.carousel-caption {
    font-family: 'Roboto';
    color: white;
}
.carousel-caption h5 {
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
} */

@media (max-width: 1200px) {
    .firstItem-twoBoxes {
        display: flex;
        flex-direction: column;
    }
    .pictureBox {
        margin: 0 !important;
        max-width: 500px;
        transform: scale(.8);
    }
    .pictureBox:after {
        top: 20px;
        right: -20px;
        bottom: 100px;
        left: -100px;
    }
    .firstItem-leftBox {
        width: 100%;
    }
}