.thirdItem {
    margin: 1.5em 0;
    padding: 4em;
    display: flex;
    background: white;
    flex-direction: column;
    font-family: 'Montserrat Alternates';
    box-shadow: 0 0 5px 5px white;
    /* transform: skewY(3deg); */
}

.thirdItem-mainBox {
    /* transform: skewY(-3deg); */
    display: flex;
    justify-content: center;
}
.thirdItem hr {
    width: 50%;
    margin: 0 auto;
}

.thirdItem h3 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}


.thirdItem-box img {
    margin: 2em;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

@media (max-width: 1200px) {
    .thirdItem-mainBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}