.details-title {
    margin: .5em 0 .1em 0;
    font-family: 'Gochi Hand';
    letter-spacing: 5px;
    font-size: 4em;
}

.AvailablePetsDetailsPage {
    font-family: 'Montserrat Alternates';
}
.AvailablePetsDetailsPage hr {
    width: 70%;
    margin: 0 auto;
}
.DetailsPageContainer {
    display: flex;
    padding: 0 50px;
}
.leftHand {
    padding: 50px;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
}
.leftHandImage {
    padding: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    border-bottom: none;

}
.leftHandImage img {
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    width: 100%;
    max-height: 350px;
}

.leftHandDetailsName {
    font-size: 50px;
    text-align: center;
}
.leftHandDetails {
    background: rgba(0,0,0,.2);
    border-radius: 0 0 20px 20px;
    border: solid black 2px;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.columnLeftPill {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px 0;
}
.columnLeftPill p {
    display: flex;
    margin: 0;
    padding: 10px;
    align-items: center;
    background: rgba(255,255,255,1);
    width: 100%;
}
.columnLeftPill p:first-child {
    width: 30%;
    font-weight: bold;
    background: rgba(48, 185, 249, 0.5);
    border-radius: 20px 0 0 20px;
}
.columnLeftPill p:last-child {
    font-size: 20px;
    border-radius: 0 20px 20px 0;
}

.rightHand {
    margin: 0 auto;
    max-width: 900px;
    padding: 50px;
    width: 80%;
}
.rightHandMap img {
    border: 2px solid black;
    border-radius: 20px;
    width: 70%;
    height: 400px;
}
.rightHandOwner {
    border-radius: 20px;
    width: 90%;
    margin: 20px auto;
}
.rightHandOwner .columnLeftPill {
    width: 60%;
    margin: 10px auto;
}
.rightHandOwner .columnLeftPill p:first-child{
    width: 45%;
}
.rightHandOwner > p {
    font-size: 35px;
    font-weight: bold;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.buttonContainer div {
    font-weight: bold;
    margin: 5px;
    width: 35%;
}
.buttonContainer i {
    margin: 0 10px 0 0;
}

.messageContainer {
    position: fixed;
    height: 70%;
    width: 100%;
    margin-left: -50vw;
    margin-top: -25vh;
    overflow: scroll;
    top: 50%;
    left: 50%;
  }

.message {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    max-width: 560px;
    background: rgba(255,255,255,1);
    position: relative;
    margin: 0 auto;
}
.disablePage {
    opacity: 0.5;
    pointer-events: none;
}
.subjectLine input {
    width: 100%;
}

.messageBox textarea {
    width: 100%;
}
.messageButtonContainer {
    height: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.messageButtonContainer div {
    font-weight: bold;
    width: 150px !important;
    width: 20%;
}
.messageButtonContainer i {
    margin: 0 10px 0 0;
}