.navbar-nav {
    font-family: 'Montserrat Alternates';
    width: 100%;
    justify-content: space-around;
}

.nav-link {
    margin-top: 1.2em;
    font-size: 1.4em;
    font-weight: bold;
    transition: .5s;
}
.nav-link:hover {
    color: rgba(0,0,0) !important;
}

.navbar {
    background: rgba(0,0,0,0);
}
